/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

* use
* font-variation-settings: 'wght' 500;

*/

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('/assets/Satoshi/Satoshi-Variable.woff2') format('woff2'),
    url('/assets/Satoshi/Satoshi-Variable.woff') format('woff'),
    url('/assets/Satoshi/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-VariableItalic';
  src: url('/assets/Satoshi/Satoshi-VariableItalic.woff2') format('woff2'),
    url('/assets/Satoshi/Satoshi-VariableItalic.woff') format('woff'),
    url('/assets/Satoshi/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  background-color: #fffdf3;
  font-family: 'Satoshi-Variable', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-variation-settings: 'wght' 500;
}

.nav-center {
  grid-column-gap: 3.5rem;
}

.nav-right {
  grid-column-gap: 3rem;
  grid-row-gap: 0rem;
}

@layer components {
  .wgt-300 {
    font-variation-settings: 'wght' 300;
  }
  .wgt-400 {
    font-variation-settings: 'wght' 400;
  }
  .wgt-500 {
    font-variation-settings: 'wght' 500;
  }
  .wgt-600 {
    font-variation-settings: 'wght' 600;
  }
  .wgt-700 {
    font-variation-settings: 'wght' 700;
  }
  .wgt-800 {
    font-variation-settings: 'wght' 800;
  }
  .wgt-900 {
    font-variation-settings: 'wght' 900;
  }
}
