/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

* use
* font-variation-settings: 'wght' 500;

*/

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('/assets/Satoshi/Satoshi-Variable.woff2') format('woff2'),
    url('/assets/Satoshi/Satoshi-Variable.woff') format('woff'),
    url('/assets/Satoshi/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-VariableItalic';
  src: url('/assets/Satoshi/Satoshi-VariableItalic.woff2') format('woff2'),
    url('/assets/Satoshi/Satoshi-VariableItalic.woff') format('woff'),
    url('/assets/Satoshi/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  font-family: 'Satoshi-Variable', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  @apply bg-dark text-light selection:bg-light selection:text-dark;
}

/* preload images */
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('/project-backgrounds/project-background-default.png')
    url('/project-backgrounds/project-background-1.png')
    url('/project-backgrounds/project-background-2.png')
    url('/project-backgrounds/project-background-3.png')
    url('/project-backgrounds/project-background-4.png')
    url('/project-backgrounds/project-background-5.png')
    url('/project-backgrounds/project-background-6.png')
    url('/project-backgrounds/project-background-7.png')
    url('/project-backgrounds/project-background-8.png');
}

h1 {
  font-variation-settings: 'wght' 500;
}

nav:after {
  content: '';
  background: #2f2f32;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  max-width: 80rem;
  /* center */
  margin: 0 auto;
  left: 0;
  right: 0;
}

bg-project-image {
  height: 100%;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: background 1.5s linear;
  -moz-transition: background 1.5s linear;
  -o-transition: background 1.5s linear;
  -ms-transition: background 1.5s linear;
  transition: background 1.5s linear;
}

@layer components {
  .wght-300 {
    font-variation-settings: 'wght' 300;
  }
  .wght-400 {
    font-variation-settings: 'wght' 400;
  }
  .wght-500 {
    font-variation-settings: 'wght' 500;
  }
  .wght-600 {
    font-variation-settings: 'wght' 600;
  }
  .wght-700 {
    font-variation-settings: 'wght' 700;
  }
  .wght-800 {
    font-variation-settings: 'wght' 800;
  }
  .wght-900 {
    font-variation-settings: 'wght' 900;
  }

  .transition-ease-in-out {
    transition: all 0.3s ease-in-out;
  }

  .project:after {
    content: '';
    background: #2f2f32;
    position: absolute;
    /* bottom: 0; */
    /* left: 0; */
    height: 1px;
    width: 100%;
    max-width: 80rem;
    /* center */
    margin: auto;
    left: 0;
    right: 0;
  }
}
