/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

* use
* font-variation-settings: 'wght' 500;

*/

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('/assets/Satoshi/Satoshi-Variable.woff2') format('woff2'),
    url('/assets/Satoshi/Satoshi-Variable.woff') format('woff'),
    url('/assets/Satoshi/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-VariableItalic';
  src: url('/assets/Satoshi/Satoshi-VariableItalic.woff2') format('woff2'),
    url('/assets/Satoshi/Satoshi-VariableItalic.woff') format('woff'),
    url('/assets/Satoshi/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  font-family: 'Satoshi-Variable', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  @apply bg-dark text-light selection:bg-light selection:text-dark md:cursor-none;
}

/* preload images */
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('/project-backgrounds/project-background-default.png')
    url('/project-backgrounds/project-background-1.png')
    url('/project-backgrounds/project-background-2.png')
    url('/project-backgrounds/project-background-3.png')
    url('/project-backgrounds/project-background-4.png')
    url('/project-backgrounds/project-background-5.png')
    url('/project-backgrounds/project-background-6.png')
    url('/project-backgrounds/project-background-7.png')
    url('/project-backgrounds/project-background-8.png');
}

h1 {
  font-variation-settings: 'wght' 500;
}

nav:after {
  content: '';
  background: #2f2f32;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  max-width: 80rem;
  /* center */
  margin: 0 auto;
  left: 0;
  right: 0;
}

section {
  @apply scroll-m-24 md:scroll-m-28;
}

a {
  @apply md:cursor-none;
}

.hero-gradient-cover {
  background: linear-gradient(
    0deg,
    rgba(22, 22, 24, 1) 0%,
    rgba(255, 255, 255, 0) 37%,
    rgba(255, 255, 255, 0) 100%
  );
}

.cursor {
  backdrop-filter: grayscale(1);
  -webkit-backdrop-filter: grayscale(1);
  background-color: #000000;
  border: 2px solid #fff;
  border-radius: 100%;
  mix-blend-mode: difference;
  opacity: 1;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 60;

  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: linear;
  transition-duration: 50ms;
  transition: width 100ms, height 100ms;
}

.background-animate {
  -webkit-animation: background-motion 8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  -moz-animation: background-motion 8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: background-motion 8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes background-motion {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer components {
  .wght-300 {
    font-variation-settings: 'wght' 300;
  }
  .wght-400 {
    font-variation-settings: 'wght' 400;
  }
  .wght-500 {
    font-variation-settings: 'wght' 500;
  }
  .wght-600 {
    font-variation-settings: 'wght' 600;
  }
  .wght-700 {
    font-variation-settings: 'wght' 700;
  }
  .wght-800 {
    font-variation-settings: 'wght' 800;
  }
  .wght-900 {
    font-variation-settings: 'wght' 900;
  }

  .transition-ease-in-out {
    transition: all 0.3s ease-in-out;
  }

  .project:after {
    content: '';
    @apply bg-dark-accent;
    position: absolute;
    /* bottom: 0; */
    /* left: 0; */
    height: 1px;
    width: 100%;
    max-width: 80rem;
    /* center */
    margin: auto;
    left: 0;
    right: 0;
  }
}
